@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
body, html {
    height: 100%;
    margin: 0;
}


#first {
    /* The image used */
    background-image: url(images/Background.png);
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#heading{
    font-family: 'Lato';
    max-height: 20px;
    color: #ffffff;
    letter-spacing: 2pt;
    vertical-align: middle;
}

#content{
    color: #ffffff;
    font-size: 28px;
}

#mainhead img{
    height: 150px;
    width: auto;
    max-width: 200;
}


h2{
    font-family: 'Lato';
    font-size: 30px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
}

#nav{
    padding-right: 6vw;
    padding-top: 2vw;
    align-self: center;
}

#nav #bar{
    display: none;
}

#nav a{
    color: #ffffff;
}

#mainhead{
    padding-top: 10%;
}

#phone{
    display: none;
}

#About p{
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: 20px;
}

#team h2{
    color: white;
}

#contact h2{
    color: white;
}

#team{
    background-image: linear-gradient(-180deg, #577FFF 0%, #455EB9 100%);
    color: whitesmoke;

}

#team img{
    border-radius: 125px;
}

#contact {
    padding: 0.8em;
    height: 250px;
    text-align: center;
    color: whitesmoke;
    font-family: 'Lato', sans-serif;
    background-image: url(images/contact.jpg);
    background-size: cover;
}

#contact a{
    color: #001035;
}

#placeholder{
    height: 50vh;
    width: auto;
}

@media (min-width: 640px){
    .container {
        margin: auto;
        max-width: 800px;
    }

    .grid-layout{
    padding-right: 5vw;
    padding-left: 5vw;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto;
    }

    #banner{
        padding-top: 2vw;
    }

    #mainhead{
        padding-left: 15vw;
        padding-top: 3vw;
        width: 55%;
        height: auto;
        align-content: center;
        float: left;
    }


    #nav #bar{
        padding-top: 2vw;
        float: right;
        display: block;
    }

    #nav #heading{
        padding-left: 3vw;
        font-size: 30px;
        max-width: 100px;;
        float: left;
    }

    #nav br{
        clear: both;
    }

    #phone img{
        height: 600px;
        width: auto;
    }

    #phone{
        width: 38%;
        height: auto;
        align-content: center;
        float: right;
        display: flex;
    }

    #banner br{
        clear: both;
    }

    #temp br{
        clear: both;
    }

    #team div img {
        width: 100%;
        margin: 1%;
        box-sizing: border-box;
    }

    


    #han{
        float: left;
    }

    #d{
        float: right;
    }

    #howard{
        float: left;
    }

    #paridhi{
        float: right;
    }

    #racquel{
        float:left;
    }

    #april{
        float: right;
    }

    #team br{
        clear: both;
    }

    #basement{
        float: left;
        width: 250px;
        height: auto;
        align-content: center;
    }

    #startr{
        float: right;
        width: 350px;
        height: auto;
        align-content: center;
    }

}

#team p{
    font-size: 20px;
}

#startr{
    width: 250px;
    height: auto;
    max-width: 400px;
}



.imgsize img{
    height: 200px;
    width: auto;
    max-width: 200px;
}

footer{
    background: #282828;
    color: gray;
}

#mainhead h1{
    text-align: center;
    position: relative;

}