@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
body, html {
    height: 100%;
    margin: 0;
}

#first {
    /* The image used */
    background-image: url(images/Background.png);
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#first a{
    color: #FFFFFF;
}

h1{
    font-family: 'Lato';
    text-align: center;
    font-size: 15vw;
    color: #FFFFFF;
    letter-spacing: 2pt;
}

#first h2{
    font-family: 'Lato';
    font-size: 3vw;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
}
/*
#nav{
    float: right;
    padding-right: 5%;
    padding-top: 2%;
}*/
 
/*
#first{
    background-image: linear-gradient(-180deg, #577FFF 0%, #455EB9 100%);
    height: 720px;
    text-align: center;
}*/

#nav{
    float: right;
    padding-right: 5px;
    padding-top: 5px;
}

#About p{
    font-size: 17px;
}

#team{
    background-image: linear-gradient(-180deg, #577FFF 0%, #455EB9 100%);
    color: whitesmoke;

}

#team img{
    border-radius: 125px;
}

#contact {
    padding: 0.8em;
    height: 250px;
    text-align: center;
    color: whitesmoke;
    font-family: 'Lato', sans-serif;
    background-image: url(images/contact.jpg);
    background-size: cover;
}

#contact a{
    color: #001035;
}

@media (min-width: 640px){
    .container {
        margin: auto;
        max-width: 800px;
    }


    .grid-layout{
    padding-right: 5vw;
    padding-left: 5vw;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto;
    }

    #phone{
        float: right;
    }

    #phone img{
        height: 40vw;
        width: auto;
    }

    #temp br{
        clear: both;
    }

    #team div img {
        width: 100%;
        margin: 1%;
        box-sizing: border-box;
    }


    #han{
        float: left;
    }

    #d{
        float: right;
    }

    #howard{
        float: left;
    }

    #paridhi{
        float: right;
    }

    #racquel{
        float:left;
    }

    #april{
        float: right;
    }

    #team br{
        clear: both;
    }

    #basement{
        float: left;
        width: 250px;
        height: auto;
    }

    #startr{
        float: right;
        width: 350px;
        height: auto;
    }

}

#team p{
    font-size: 20px;
}

#startr{
    width: 250px;
    height: auto;
    max-width: 400px;
}

.imgsize img{
    height: 200px;
    width: auto;
    max-width: 200px;
}


footer{
    background: #282828;
    color: gray;
}